name: Manual Sync
on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git config checkout.defaultRemote origin

      - name: Sync Branches
        run: |
          git remote add upstream https://github.com/PR3Y/Bruce.git
          git fetch upstream
          git checkout dev
          git merge upstream/dev --no-edit
          git push origin dev
          git checkout main
          git merge upstream/main --no-edit
          git push origin main
